[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "linkagg"]
	path = linkagg
	url = https://github.com/renit12345-ship-it/linkagg
